### 대여소 ID, 구 단위 저장

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


data= pd.read_csv('../../Data/따릉이/서울시 따릉이대여소 마스터 정보.csv',encoding='cp949')   # 0502 오늘 날짜 수정 버전으로 재진행

# 대여소_data = data[['대여소_ID', '주소1']]
대여소_data = data[['대여소_ID', '주소1', '주소2', '위도', '경도']]

대여소_data['구'] = data['주소1'].str.extract(r'(\S+)구')

# 전체 마스터 정보에서 주소1은 '강서'로
강서_master_temp = 대여소_data[대여소_data['구'] == '강서'].reset_index(drop=True)
강서_master_temp.to_csv('강서_master_temp.csv', index=False)

print(강서_master_temp)

      대여소_ID                          주소1              주소2         위도  \
0     ST-975       서울특별시 강서구 마곡서1로 111-12        신방화역환승주차장  37.567284
1     ST-837          서울특별시 강서구 강서로 지하 54    강서구 화곡동 662-5  37.532551
2     ST-836         서울특별시 강서구 곰달래로37길 13    강서구곰달래로37길 13  37.531780
3     ST-835            서울특별시 강서구 강서로 304  강서구 내발산동 724-42  37.552914
4     ST-834           서울특별시 강서구 공항대로 329    강서구 등촌동 675-7  37.558197
..       ...                          ...              ...        ...
219  ST-1066      서울특별시 서울 강서구 내발산동 741-8   마곡수명산파크2단지 교차로   0.000000
220  ST-1065          서울특별시 강서구 마곡동 797-5              NaN  37.558949
221  ST-1064        서울특별시 강서구 마곡동 728-168          마곡역7번출구  37.558311
222  ST-1063  서울특별시 강서구 공항대로 163 마곡역(5호선)              NaN  37.560207
223  ST-1062   서울특별시 강서구 공항대로 33 송정역(5호선)              NaN  37.561531

             경도   구
0    126.818275  강서
1    126.846321  강서
2    126.854485  강서
3    126.836571  강서
4    126.844261  강서
..          ...  ..
219    0.000000  강서
220  126.837173  강서
221  126.826523  강서
222  126.824142  강서
223  126.810699  강서

[224 rows x 6 columns]

In [2]:
# 강서구 따릉이 대여소 ID 변수 생성

강서_대여소_ID = pd.read_csv('../../Data/따릉이/강서_따릉이_대여소_ID.csv',encoding='utf-8')
print(강서_대여소_ID)

      대여소_ID
0     ST-975
1     ST-837
2     ST-836
3     ST-835
4     ST-834
..       ...
219  ST-1066
220  ST-1065
221  ST-1064
222  ST-1063
223  ST-1062

[224 rows x 1 columns]

### 따릉이 이용량 데이터 생성
* 강서구 기준, 2023.04~2024.03 
* 랜덤하게 3등분한 데이터

In [3]:
강서_데이터 = pd.read_csv('../../Data/따릉이/강서_따릉이_데이터_01.csv',encoding='utf-8')
print(강서_데이터.sort_values(by='기준_날짜'))

              기준_날짜  기준_시간대 시작_대여소_ID 종료_대여소_ID  전체_건수  전체_이용_분  전체_이용_거리  요일  \
1598955  2023-04-03     735    ST-831   ST-1515      1        5       860   0
1605359  2023-04-03    1640    ST-834    ST-522      1       52       940   0
1605358  2023-04-03    1640    ST-824   ST-2857      1       44      1000   0
1605357  2023-04-03    1640    ST-533    ST-531      1        7      1000   0
1605356  2023-04-03    1640    ST-526   ST-3094      1       19      2482   0
...             ...     ...       ...       ...    ...      ...       ...  ..
560884   2024-03-27    1820   ST-2035    ST-522      1        6       778   2
560883   2024-03-27    1820   ST-2035    ST-518      1       35      3474   2
560882   2024-03-27    1820   ST-2033   ST-2045      1        6       870   2
560964   2024-03-27    1825   ST-1251   ST-2059      1       10      1418   2
562723   2024-03-27    1955   ST-2028    ST-829      1        1       370   2

         주말  휴일
1598955   0   0
1605359   0   0
1605358   0   0
1605357   0   0
1605356   0   0
...      ..  ..
560884    0   0
560883    0   0
560882    0   0
560964    0   0
562723    0   0

[1739283 rows x 10 columns]

* 강서구 기준, 2023.01~2023.12

In [4]:
강서_2023 = pd.read_csv('../../../../data_semi/강서_따릉이_data_2023.csv',encoding='utf-8')
# 강서_2023.sort_values(by='기준_날짜')
강서_2023.dropna().sort_values(by='기준_날짜')

              기준_날짜  기준_시간대 시작_대여소_ID 종료_대여소_ID  전체_건수  전체_이용_분  전체_이용_거리
0        20230101.0      50   ST-1065   ST-1065      1        1       111
4889     20230101.0    1305   ST-2858   ST-1064      1        6       560
4888     20230101.0    1305   ST-2832   ST-2033      1        5      1180
4887     20230101.0    1305   ST-2479   ST-3084      1        8      1200
4886     20230101.0    1305   ST-2477   ST-1718      1        5      1190
...             ...     ...       ...       ...    ...      ...       ...
8892837  20231231.0    1415   ST-1676   ST-2887      1       27      5000
8892836  20231231.0    1415   ST-2993   ST-1352      1        2       334
8892835  20231231.0    1415   ST-3094   ST-1510      1       98       418
8892846  20231231.0    1415    ST-834   ST-2557      1        4       840
8897553  20231231.0    2355   ST-2871   ST-2789      1        5       820

[8886405 rows x 7 columns]

### 대여소 ID 개수 비교

* 강서_2023 (23.01.01~23.12.31)
* 강서_데이터 (2023.04 ~ 2024.03)
* 강서_master_temp (~24.05.02) : 마스터 파일

In [5]:
print('23.01 ~ 23.12')
print(강서_2023['시작_대여소_ID'].nunique())
print()

print('23.04 ~ 24.03')
print(강서_데이터['시작_대여소_ID'].nunique())
print()

print('강서구 전체 대여소 ID')
print(강서_master_temp['대여소_ID'].nunique())

23.01 ~ 23.12
194

23.04 ~ 24.03
195

강서구 전체 대여소 ID
224

In [6]:
print('23.01 ~ 23.12')
print(강서_2023['종료_대여소_ID'].nunique())
print()

print('23.04 ~ 24.03')
print(강서_데이터['종료_대여소_ID'].nunique())
print()

print('강서구 전체 대여소 ID')
print(강서_master_temp['대여소_ID'].nunique())

23.01 ~ 23.12
194

23.04 ~ 24.03
195

강서구 전체 대여소 ID
224

2401~2403에 추가된 대여소

In [7]:
강서_대여소_added_2024 = 강서_데이터[~강서_데이터['시작_대여소_ID'].isin(강서_2023['시작_대여소_ID'])]
print(강서_대여소_added_2024['시작_대여소_ID'].unique())
print(len(강서_대여소_added_2024))

['ST-3284']
22

결론 : 하나의 대여소만 추가되어, 03월부터 사용하기 시작

그럼 나머지 26개(29개 - 3개)는 뭐지?

가설 1 : 24년 4월 ~ 5월 사이에 신규 대여소가 설치되었다?

In [8]:
# 2023년에는 사용하지 않았지만 마스터 정보 파일에는 있는 대여소 ID

강서_대여소_remain = pd.read_csv('./강서_temp_remain.csv',encoding='utf-8')
강서_대여소_remain

,대여소_ID,주소1,주소2,위도,경도,주소
0,ST-837,서울특별시 강서구 강서로 지하 54,강서구 화곡동 662-5,37.532551,126.846321,강서
1,ST-836,서울특별시 강서구 곰달래로37길 13,강서구곰달래로37길 13,37.531780,126.854485,강서
2,ST-833,서울특별시 강서구 공항대로59길 8,강서구 등촌동 666-90,37.551666,126.864090,강서
3,ST-832,서울특별시 강서구 방화대로47가길 22,강서구 방화동 830-15,37.577213,126.813553,강서
4,ST-537,서울특별시 강서구 곰달래로 51,355-48,37.530338,126.838257,강서
5,ST-529,서울특별시 강서구 등촌로51나길 29,강서구 등촌동 520-6,37.548061,126.860420,강서
6,ST-527,서울특별시 강서구 화곡로 232,강서구 화곡동 94-6,37.546444,126.845459,강서
7,ST-521,서울특별시 강서구 강서로80길 117,강서구 가양동 1459-9,37.570480,126.849503,강서
8,ST-515,서울특별시 강서구 양천로 200,강서구 마곡동 223-6,37.572781,126.826279,강서
9,ST-3284,서울특별시 강서구 남부순환로 222 서울자동차학원,NaN,37.546135,126.821060,강서
10,ST-2612,서울특별시 강서구 양천로452,NaN,37.563011,126.851006,강서
11,ST-2554,서울특별시 강서구 공항대로 49-2 공항신성빌딩,NaN,37.561310,126.813072,강서
12,ST-2540,서울특별시 강서구 강서로 191 화평빌딩,강서로191,37.543240,126.838631,강서
13,ST-2495,서울특별시 강서구 강서구 방화동 874-1,NaN,37.569839,126.807564,강서
14,ST-2493,서울특별시 강서구 강서구 방화동 57-5번지,NaN,37.584171,126.819328,강서
15,ST-2485,서울특별시 강서구 방화동635-26,NaN,37.564384,126.806046,강서
16,ST-2475,서울특별시 강서구 양천로656,NaN,37.552696,126.869751,강서
17,ST-2055,서울특별시 강서구 화곡동 663-15,NaN,37.531395,126.847191,강서
18,ST-2053,서울특별시 강서구 마곡서로 133 마곡엠밸리7단지,NaN,37.566689,126.824699,강서
19,ST-2051,서울특별시 강서구 마곡동 741-1,NaN,37.564938,126.819359,강서
20,ST-2043,서울특별시 강서구 마곡동 775-3,NaN,37.567223,126.834389,강서
21,ST-2038,서울특별시 강서구 등촌동 709,NaN,37.561882,126.839157,강서
22,ST-2030,서울특별시 강서구 강서로47길 108 마곡수명산파크1단지아파트,NaN,37.553352,126.831047,강서
23,ST-2021,서울특별시 강서구 양천로 431 홈플러스가양점,NaN,37.564404,126.849220,강서
24,ST-1750,서울특별시 강서구 개화동로8길 17,개화정비,37.577908,126.798042,강서
25,ST-1516,서울특별시 강서구 강서로 409,국민건강보험공단(강서지사) 건너편,37.562099,126.839256,강서
26,ST-1513,서울특별시 강서구 개화동로 495,공항고등학교 정문,37.567921,126.805473,강서
27,ST-1255,서울특별시 강서구 허준로 65,기쁜우리복지관,0.000000,0.000000,강서
28,ST-1068,서울특별시 강서구 화곡동 1136-1,한국여자 농구연맹 건너편,0.000000,0.000000,강서
29,ST-1066,서울특별시 서울 강서구 내발산동 741-8,마곡수명산파크2단지 교차로,0.000000,0.000000,강서

가설 1 아님

그럼 뭐지??.. 미궁속으로...

In [13]:
강서_Unique_대여소_ID = 강서_데이터['시작_대여소_ID'].unique()

In [16]:
강서_대여소_Using = pd.DataFrame({'대여소_ID' : 강서_Unique_대여소_ID})
강서_대여소_Using.to_csv('강서_대여소_ID.csv', index=False)

In [17]:
강서_대여소_Using

      대여소_ID
0    ST-2037
1     ST-824
2     ST-829
3    ST-2611
4    ST-2031
..       ...
190  ST-3261
191  ST-3281
192  ST-3263
193  ST-3260
194  ST-3284

[195 rows x 1 columns]